@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --dark-color-a: #36393f;
    --dark-color-b: #36393f;
    --light-color: #e6e9ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

::-webkit-scrollbar {
    width: 11px;
}

.login-bg {
    background: url("../img/bg-login.jpg")no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

a {
    text-decoration: none;
}

.black-nitro-button,
.green-nitro-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 49%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.white-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.white-button {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
}

.green-nitro-button {
    background-color: #43b581;
    border: 2px solid #43b581;
    color: #fff;
}

.black-nitro-button {
    background-color: #090909;
    border: 2px solid #090909;
    color: #fff;
}

#room {
    margin-top: 20px;
}

.btn {
    position: relative;
    cursor: pointer;
    padding: 5px 15px;
    background: #7289da;
    color: var(--light-color);
    border: 0;
    font-size: 14px;
    border-radius: 3px;
}


/* Chat Page */

.chat-container {
    background: #fff;
    overflow: hidden;
}

.chat-header {
    background: #202225;
    color: #fafafa;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.textDiscord {
    font-size: 5vh;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: #2f3136;
    color: #fafafa;
    height: 80vh;
    padding: 20px 20px 10px;
    overflow-y: scroll;
    box-sizing: inset 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border: 7px solid #4f545c;
    box-shadow: inset 0;
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 8px;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: #7289dae5;
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.nav-content-mobile h3 {
    margin: 10px 0;
    color: pink;
    list-style: inside;
}

.chat-sidebar ul li {
    margin: 10px 0;
    color: pink;
    list-style: inside;
}

.chat-messages {
    padding: 30px;
    overflow-y: scroll;
    height: 80vh;
    background-color: #36393f;
    border-bottom: solid 3px #2f3136;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
}

.chat-messages .message p {
    color: #dcddde;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
    height: 10vh;
}

#chat-form {
    width: 71vw;
    float: right;
}

#buttonNav {
    position: absolute;
    font-size: 120%;
    margin: 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 0%;
    border-bottom-right-radius: 50%;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
    background-color: #4f545c;
    color: white;
}

.chat-form-container input[type='text']:hover {
    color: white;
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
    background-color: #4f545c;
}


/* Join Page */

.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.join-main {
    padding: 30px 40px;
    background: var(--dark-color-b);
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }
    .chat-sidebar {
        display: none;
    }
    .chat-messages {
        height: 70vh;
    }
    .chat-form-container {
        height: 20vh;
    }
}

.scrollerBase {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    font-family: inherit, sans-serif;
    font-size: 16px;
    background: var(--light-color);
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thin-thumb {
    background-color: #202225;
}

::-webkit-scrollbar-track {
    border: 7px solid #2e3338;
    box-shadow: inset 0;
}

::-webkit-scrollbar-thin-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-radius: 8px;
}

.meta {
    color: #fff;
}

.botTagRegular {
    background: #7289da;
    color: #fff;
}

.remBot.botTag {
    height: .9375rem;
    padding: 8.5px;
    margin-top: .075em;
    border-radius: .1875rem;
    color: #fff;
}

.botTag {
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-indent: 0;
}

#nav-content-mobile {
    background-color: #36393f;
    border-bottom: solid 2px #7289da;
}

#nav-content-mobile H3 {
    color: #CFD8DC;
}

a {
    top: 0;
    font-size: 36px;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: right;
    white-space: nowrap;
}

#pin {
    font-size: 13px;
    color: #5cb85c;
}

#cmd {
    color: #5cb85c;
    font-size: 13px;
}

.btn:hover {
    color: #43b581;
}

.pseudoparam {
    color: white;
    display: inline-flex;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#param a {
    color: #7289da;
    margin-right: 10px;
}


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -85px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}